.borderedondeado{
    border-radius: 20px;
}
.fontproductos{
    color: white;    
    text-decoration: none;
}
.fontofertas{
    color: white;
    text-decoration: none;
}
.fontcontacto{
    color: white;
    text-decoration: none;
}
.conocenos{
    color: white;
    text-decoration: none;
}
body{
    background-color:black ;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
article{
    color: antiquewhite;
}
section{
    color: antiquewhite;
    text-align: center;
}
header{
    text-align: center;
}
section{
    text-align: center;
}
.fotos{
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
}
.comunicacion{
    color: #0E0E0E;
}
ul{
    list-style-type: none;
    text-align: right;
}
.videofondo{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -2;
}
.comunicacion{
    color: antiquewhite;
    font-size: 15px;
    text-align: justify;
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    margin: 0%;
}
.instagramfont{
    color: antiquewhite;
}
.ofertasfont{
    font-size: 18px;
    padding-bottom: 4rem;
    margin: 20px;
    margin-bottom: 0px;
    flex: 2;
    padding: 25px;
}
.productofont{
    font-size: 18px;
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin: 20px;
    margin-bottom: 0px;
    flex: 2;
    padding: 25px;
}
.navfont{
    font-size: 18px;
    display: inline-block;
    padding: 0,5px;
    text-decoration: none;
    
}
.textocomun{
    text-align: center;
    padding-left: 40px;
    margin-top: 1rem;
}
.textoproducto{
    background-color: #0E0E0E;
    margin-top: -1rem;
    padding: 1rem;
    border: gray solid;
}
.textoferta{
    background-color: #0E0E0E;
    margin-top: -1rem;
    padding: 1rem;
    border: gray solid;
}
.videoentrar2{
    position: fixed;
    min-width: 45%;
    min-height: 45%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}
.botonentrar{
    width: 400px;
    height: 100px;
}
.boton{
    text-decoration: none;
    display: inline-block;
    padding: 20px 15px;
    border-radius: 20px;
    color: aliceblue;
    background-color: #0E0E0E;
}
.piedepag{
    bottom: 0%;
    position: fixed;
    padding: 1em 0;
    width: 100%;
}
.instagram{
    text-decoration: none;
    display: inline-block;
    padding: 20px 15px;
    border-radius: 20px;
    color: aliceblue;
    background-color: #0E0E0E;
}
.titulosproductos{
    display: flex;
    white-space: nowrap;
}
.texto-ingresar{
    color: #0E0E0E;
}
.cabeza{
    background-color: #0E0E0E;
    left: 0;
    top: 0;
    right: 0;
    color: white;
    margin-bottom: 0px;
    flex: 2;
    padding: 2rem 0;
}
.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5rem;
}
.navfont ul{
    margin: 0;
    padding: 0;
    list-style: none;    
    
    
}
.navfont ul li {
    display: inline-block;
}
.navfont ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}
.navfont ul li a:hover{
    background-color:rgba(204, 204, 204, 0.246) ;
} 
.presentacion{
    margin: 20px;
    margin-bottom: 0px;
}
.footcomun{
    background-color: #2f2f2f;
    padding: 0.5rem 0;
    left: 0;
    right: 0;
    flex: 2;
    padding: 4rem 0;
}
.comun-list li{
    text-align: center;

}
.quienes{
    text-align: center;
    font-size: 5rem;
}
.somos{
    font-size: 1.8rem;
    text-align: center;
}
.portada{
    width: 10rem;
}
.ver-productos{
    text-decoration: none;
    display: inline-block;
    padding: 20px 15px;
    border-radius: 20px;
    color: aliceblue;
    background-color: #0E0E0E;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.mas-ofertas{
    text-decoration: none;
    display: inline-block;
    padding: 20px 15px;
    border-radius: 20px;
    color: aliceblue;
    background-color: #0E0E0E;
    margin-top: 3rem;
    margin-bottom: 0rem;
}
.principal{
    width:100%;
}
.volver{
    color: white;    
    text-decoration: none;
}
.pagina-productos h2{
    background-color: #0E0E0E;
    border: gray solid;
}
.pagina-productos h1{
    margin-top: 2rem;
    margin-bottom: -3rem;
}
.anillos{
    margin-bottom: 2rem;
}
.ofertas2{
    margin-bottom: 2rem;
    margin-top: -4rem;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    color: aliceblue;
    text-align: center;
    margin-bottom: 2rem;
    margin-left: 7.3rem;
    margin-right: 7.3rem;
}
.grid-container h2{
    font-size: 20px;
    border: none;
    background: none;
    margin: 0;
    padding-bottom: 1rem;
    justify-content: space-between;
}
.contenedor{
    width: 100%;
    margin: auto auto;
}
.grid-container div{
    justify-content: center;
}
.cata{
    display: grid;
    grid-template-columns: auto auto;
}
.cata div{
    padding: 10px;
    text-align: center;
}
.soy-cata{
    font-size: 50px;
    grid-column: 2 / 4;
}
.texto-cata{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.foto-cata{
    grid-row: 1 / 3;
}
.mechi{
    display: grid;
    grid-template-columns: auto auto;
}
.mechi div{
    padding: 10px;
    text-align: center;
}
.soy-mechi{
    font-size: 50px;
    grid-column: 1 / 2;
}
.texto-mechi{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.foto-mechi{
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}
@media screen and (max-width: 800px) {
    .principal{
        width: 100%;
    }
    
}
.principal img{
    width: 100%;
    height: auto;
}
.pagina-productos img{
    width: auto;
}
@media screen and (max-width: 400px) {
    .contenedor{
        width: 100%;
    }
}
